@import '~reset-css/reset.css';

body, * {
  margin: 0;
  font-family: 'Montserra', sans-serif;
  font-size: clamp(18px, 1.25vw, 12px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserra', sans-serif;
}
