@import '../../../sass/variables';

.gallery{
    width: 100%;
    min-height: 400px;
    background-color: $light-grey;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap : 25px;
}