.header {
    width: 86%;
    max-width: 1240px;
    height: 68px;
    margin: 3vw 0 0 0;
    display: flex;
    justify-content: space-between;

    & .first-title{
        display: inline-block;
        width: auto;
        max-width: 50%;
    }    

    & .logo {
        width: 38.66%;
        max-width: 210.32px;
        min-width: 145px;
    }
}