@import '../../sass/variables';

.footer {
    width: 100vw;
    height: 210px;
    background-color: $dark-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;

    & .logo{
        & svg {
            max-width: 122px;
        }
            & path{
            fill: $light-color;
        }
    } 

    & .copyRight {
        color: $light-color;
        font-size: clamp(12px, 1.7vw, 24px);

        & .fa-copyright{
            font-size: clamp(10px, 1.4vw, 20px);   
        }
    }    
}



