.footer {
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 210px;
}

.logo-footer svg {
    width: 122px;
    height: 39.44px;
}
.logo-footer path{
    fill: white;
}
.copyRight {
    color: white;
    font-size: 24px;
    font-weight: 500;
}