@import '../../sass/variables';

.dropdown {
    width: 100%;
	max-width: 1020px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;

    &__visible {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        height: 50px;
        background-color: $primary-color;
		color: $light-color;
		font-size: clamp(13px, 1.5vw, 18px);
        font-weight: 700;
		border-radius: inherit;

        .fa-chevron-down {
            transition: transform 0.3s ease;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;

        p, ul {
            margin: 0;
            padding: 15px;
			background-color: $light-grey;
			font-size: clamp(12px, 1.5vw, 18px);
			font-weight: 400;
        }

        ul {
            padding-left: 20px;
			font-size: clamp(12px, 1.5vw, 18px);
			font-weight: 400;

            li {
                list-style: none;
				font-size: clamp(12px, 1.5vw, 18px);
				font-weight: 400;
            }
        }
    }

    &.open {
		border-radius: 5px;

        &__content {
            max-height: 1000px; 
            padding: 10px;
			
        }
    }
}

@media (min-width: 720px) {
    .dropdown {
        &.half-width {
            width: 48%;
        }
    }
}