@import '../../sass/variables';

.banner,
.banner_about {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-around;
    color: $light-color;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    height: 223px;
    padding: 20px;

    @media screen and (max-width: 550px) {
        justify-content: left;
        height: 120px;
    }

    h2 {
        align-self: center;
        font-size: clamp(24px, 4vw, 48px);
        font-weight: 500;
    }
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/home_cover.png');

    &_about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/about_cover.png');
    }
}